.flip {
  transform: scale(-1, 1);
}

header {
  background-color: rgba(0, 0, 0, 0.399);
  height: 10dvh;
  align-items: center;
  display: flex;
}

main {
  background-color: rgba(0, 0, 0, 0.399);
  height: 60dvh;
}

footer {
   background-color: rgba(0, 0, 0, 0.399);
  height: 30dvh;
}

.text-shadow {
  text-shadow: 0px 0px 5px black;
}

body {
  background-image: url("https://4.bp.blogspot.com/-VnnR8Bxh_WQ/UI31EZq9u4I/AAAAAAAADK0/ZJw2Wjhr2Ho/s1600/haunted+cartoon.jpg");
  background-size: cover;
}

.animal-card {
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
  opacity: .9;
  background-color: rgb(246, 246, 246);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animal-card:hover {
  opacity: 1;
  cursor: pointer;
  box-shadow: 0px 0px 10px white;
}

.text-shadow {
  text-shadow: 0px 0px 2px black;
}

.filter-button {
  opacity: 1;
   border: 1px white solid;
   background-color: rgba(0, 0, 0, 0.686);
   border-radius: 5rem;
   margin: .5rem 0;
}

.filter-button:hover {
  opacity: .95;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgb(252, 252, 252);
}

.filter-button > p {
  margin: 0px;
  padding: 0 1rem;
}